/* poster-articles.css */

body {
  color: white;
}

.articles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  scroll-snap-type: y proximity;
}

h1 {
  padding: 1em;
  margin: 0;
  letter-spacing: 1em;
  font-weight: 400;
  background-color: black;
  position: sticky;
  top: 0;
}

article {
  font-size: 2vw;
  line-height: 3vw;

  height: calc(100vh);

  scroll-snap-align: start;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  margin: 0 auto;
}
